  /*cards*/
  main {
    background-image: radial-gradient(circle at center, white 0, #cccccc);

  }
  main .titleBar {
    height: 60px;
    background-color: #cccccc;
  }

  

  main #galeria img {
    width: 180px;
    height: 180px;
  }


  main #galeria .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    margin: 5px;
    background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(grey));
    background-image: linear-gradient(to right, #cccccc, gray);
  }
  